$clr-purple: #7c5dfa;
$clr-heliotrope: #9277ff;
$clr-mirage: #1e2139;
$clr-ebony: #252945;
$clr-selago: #dfe3fa;
$clr-baliHai: #888eb0;
$clr-shipCove: #7e88c3;
$clr-vulcan: #0c0e16;
$clr-burntSienna: #ec5757;
$clr-monaLisa: #ff9797;
$clr-whisper: #f8f8fb;
$clr-offWhite: #f9fafe;
$clr-mirage2: #141625;
$clr-darkAccent: #494e6e;
$clr-orange: #ff8f00;
$clr-fadedOrange: rgba(255, 143, 0, 0.0571);
$clr-otherDark: #373b53;
$clr-tablet: 768px;
$clr-desktop: 1440px;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Shizuru', cursive;
$transition: all 0.2s linear;
$spacing: 0.2rem;
$radius: 10px;
